<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">ระบบลางาน</a> <!-- หน้าแรก -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard">แดชบอร์ด</a> <!-- หน้าดashboard -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="leave-request-form">ขอลางาน</a> <!-- หน้าขอลางาน -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="leave-history">ประวัติการลา</a> <!-- หน้าประวัติการลา -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="leave-balance-display">รายการขออนุมัติ</a> <!-- หน้าประวัติการลา -->
                </li>
            </ul>

           <div class="search-container">
                <input type="text" class="search-box" placeholder="ค้นหาที่นี่..."  />
                <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                <div class="icon-container">
                    <i class="fa-solid fa-bell"></i>
                    <i class="fa-solid fa-user-tie"></i>
                    <i class="fa-solid fa-right-from-bracket"></i>
                </div>
            </div>

        </div>
    </div>
</nav>
