<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="img" src="assets/images/Leave.png" alt=""/>
      <a class="navbar-brand" href="index.html">ระบบลางาน</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a href="dashboard">แดชบอร์ด</a></li>
            <li><a href="leave-request-form">ขอลางาน</a></li>
            <li><a href="leave-history">ประวัติการลา</a></li>
            <li><a href="leave-balance-display">รายการขออนุมัติ</a></li>
          </ul>
          <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="ค้นหาที่นี่..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">ค้นหา</button>
          </form>
      </div>
  </div>
</nav> -->

<div>
  <div class="nav-container">
    <!-- <button  class="theme" (click)="toggleTheme()">
      <mat-icon>{{ isDarkMode ? 'brightness_7' : 'brightness_6' }}</mat-icon>
    </button> -->
    
   
  <app-navbar></app-navbar>
  <!-- <app-leave-request-form></app-leave-request-form> -->
   <!-- <app-leave-balance-display></app-leave-balance-display> -->
    <!-- <app-dashboard></app-dashboard> -->
     <!-- <app-leave-history></app-leave-history> -->
     <router-outlet></router-outlet>
</div>